/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
body{
	font-family: 'Poppins', sans-serif;
}
*{
margin: 0;
padding: 0;
}
.btn1{
  border: none;
  outline: none;
  padding: 14px 32px;
  background-color:rgba(247,245,241,1.00);
  cursor: pointer;
  font-size: 18px;
}
.btn1 a{
	text-decoration: none;
	color:rgba(116,130,76,1.00);
}
#myDIV{
	position: fixed;
	box-sizing: border-box;
	background-color: aliceblue;
	width: 100%;
}
.main2{
	display: flex;
	margin: 0 24px;
}
.img-box{
	text-align: center;
}
.img-box img:hover{
	filter:drop-shadow(8px 8px 10px gray);
}
.slide{
	box-sizing: border-box;
	width: 100%;
}
/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
  background-color: #666;
  color: white;
}
.container1{
	width: 100%;
	background-color: white;
	margin: 0;
}
.icon{
	width: 10%;
	height: 70px;
	float: right;
	padding: 20px;
	box-sizing: border-box;
}
.header1
{
	width: 100%;
	height: 70px;
	background-color:yellowgreen;
	position:fixed;
	z-index:1;
}
.logo
{
	width: 20%;
	height: 70px;
	background-color: rgba(247,245,241,1.00);
	float: left;
	padding: 7px;
	box-sizing: border-box;
}
#menu1
{
	width: 80%;
	height: 70px;
	background-color:rgba(247,245,241,1.00);
	float:right;display: flex;
	justify-content: flex-end;
}
/* Style the active class, and buttons on mouse-over */
.active, .btn1:hover {
  background-color: rgba(223,208,181,1.00);
  color: white;
}
.left{
	position:absolute;
	top:50%;
	left:0%;
	border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-align:center;
}
.right{
	position:absolute;
	top:50%;
	right:0%;
	border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-align:center;
}
.text-box2 a{  
	letter-spacing: 5px;
	margin: 25px 0;
}
.text-box2{
	width: 50%;
	margin: auto 0;
	top: 15px;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 40px;
  padding: 8px 16px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.member{
	height: 330px;
	overflow: hidden;
}
.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button2 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  margin: 13px;
  color: white;
  background-color:rgba(181,166,140,1.00);
  text-align: center;
  cursor: pointer;
  width: 50%;
}

.button2:hover {
  background-color:rgba(247,245,241,1.00);
color: rgba(116,130,76,1.00);
}
td{
	padding: 10px;
}
input{
	width: 100%;
	box-sizing: border-box;
	padding: 10px 0;
}
input[type="checkbox"]{
	width: 24px;
}
form span{
	color: black;
}
.box01{
	background:rgba(235,230,220,1.00);
	width: 50%;
/*	height: 100%;*/
	padding: 50px 50px;
	margin: 10px auto 50px auto;
}
#button2{
	width: 100%;
	padding: 10px 0;
	background:rgba(223,208,181,1.00);
	border: none;
	border-radius: 10px;
}
.site-footer
{
  background-color:rgba(236,231,221,1.00);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6{
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
  color:rgba(80,78,78,1.00);
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:rgba(220,218,215,1.00);
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom: 0px;
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:rgba(129,138,145,1.00);
  background-color:#29aafe;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.member1{
	width: 100%;
/*	background-color: aquamarine;*/
	text-align: center;
	display: flex;
	justify-content:space-around;
	height: 60px;
	margin: 35px auto 10px auto;
}
.row1 > .column1 {
  padding: 0 8px;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column1 {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides1 {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#button3 {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button3::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color:antiquewhite;
}
#button3:hover {
  cursor: pointer;
  background-color: #333;
}
#button3:active {
  background-color: #555;
}
#button3.show {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  #button3 {
    margin: 30px;
  }
}
.wow:first-child {
      visibility: hidden;
    }